*{
    margin: 0;
}




/**/

.adbar{
    display: grid;
    color: var(--primary-text-color);
    gap: 0.25rem;
    padding-top: 4rem;
}

.bigpicture{
    display: grid;
    padding: 0 clamp(1rem, 5vw, 20rem);
}

.bigpictureimg{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: clamp(100px, 40vh, 400px);  
    font-size: 5rem;
}

.nextpictures{
    display: flex;
    gap: 0.5rem;
    padding: 0 clamp(1rem, 5vw, 20rem);
}
.nextpictures-1, .nextpictures-2, .nextpictures-3, .nextpictures-4, .nextpictures-5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: clamp(10px, 10vh, 100px);  
    width: clamp(10px, 10vh, 100px);
    
}
/**/
/**/
.searchbar{
    display: flex;
    justify-content: center;
    
    align-items: center;
    padding: 5rem 0;
    
}
.searchbar a{
    background-color: var(--icon-colors);
    padding: 1.5rem clamp(1rem, 20vw, 20rem);
    border-radius: 30px;
    text-decoration: none;
    color: var(--primary-text-color);
}
/**/
/**/

.recommendation-title{
    display: flex;
    padding: 0 clamp(1rem, 5vw, 20rem);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--secondary-text-color);
}

/**/
/**/

.recommendation-boxes{
    display: grid;
    gap: 2rem;
    color: var(--primary-text-color);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem clamp(1rem, 5vw, 20rem);
}



.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    height: 250px;
    width: 250px;
    border-radius: 15px;
    font-size: 2rem;
}

.container-text-name {
    color: var(--secondary-text-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.5rem;
}
.container-text-info{
    color: var(--secondary-text-color);
    font-size: 0.80rem;
    font-family: 'Inter', sans-serif;
}
.container-text-price{
    color: var(--secondary-text-color);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
/**/
