*{
    margin: 0;
}

:root {
    --primary-color: #130f0d;
    --secondary-color: #551f22;
    --primary-text-color:#c4c1b8;
}

/**/
header{
    gap: 0.25rem;
    display: grid; 
    color: var(--primary-text-color);
}


/**/
.header1{
    display: grid; 
    grid-template-columns: 1fr 1fr 2fr;
    gap: 5rem;
    padding: 0 20rem;
}

.header-1_1, .header-1_3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(60px, 8vh, 100px);
    padding: 0 1rem;
    background-color: var(--primary-color);  
    overflow: hidden;  
    font-size: 1rem;
}
.header-1_2{    
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(60px, 8vh, 100px);
    padding: 0 1rem;
    background-color: white;

}

.header-1_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.favorites, .myaccount, .notification{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.header-1_3 a{
    text-decoration: none;
    color: var(--primary-text-color);
    
}

/**/
/**/
.header2{
    display: grid; 
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5rem;
    padding: 0 2rem;
}

.chat1, .chat2, .chat3, .chat4, .chat5, .chat6{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(10px, 2vh, 25px) ;
    background-color: var(--secondary-color);   
}
/**/
/**/

